In [9]:
import pandas as pd
from functools import reduce

In [11]:
df_wave_1 = pd.read_stata('../data/FF_wave1_2020v2.dta')
df_wave_2 = pd.read_stata('../data/FF_wave2_2020v2.dta')
df_wave_3 = pd.read_stata('../data/FF_wave3_2020v2.dta')
df_wave_4 = pd.read_stata('../data/FF_wave4_2020v2.dta')
df_wave_5 = pd.read_stata('../data/FF_wave5_2020v2.dta')
df_wave_6 = pd.read_stata('../data/FF_wave6_2020v2.dta')

C:\Users\DawnE\AppData\Local\Temp\ipykernel_20684\931149423.py:3: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df_wave_3 = pd.read_stata('../data/FF_wave3_2020v2.dta')
C:\Users\DawnE\AppData\Local\Temp\ipykernel_20684\931149423.py:4: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df_wave_4 = pd.read_stata('../data/FF_wave4_2020v2.dta')
C:\Users\DawnE\AppData\Local\Temp\ipykernel_20684\931149423.py:5: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df_wave_5 = pd.read_stata('../data/FF_wave5_2020v2.dta')

In [12]:
def load_and_select_columns(dataset, cols_dict):
    selected_columns = ['idnum'] + list(cols_dict.keys())
    df_selected = dataset[selected_columns]
    return df_selected

wave1_cols = {
    'cf1edu': "Father baseline education (father report, then mother report)",
    'cm1edu': "Mother baseline education (own report)",
    'cf1hhinc': "Household income (with imputed values)",
    'f1j8': "About how much did you earn?",
    'm1i2b': "About how much did you earn?"
}

wave2_cols = {
    'f2b13': "Does child walk or crawl yet?",
    'f2b32': "In general, how is your child's health?",
    'f2d1a': "Does mother have any contact with child?",
    'm2d2': "Does father have any contact with child?",
    'm2b43a': "On a scale of 1-(least like) to 5-(most like) - Child tends to be shy",
    'm2b10': "Since child was born, how many times has he/she stayed overnight in hospital?"
}

wave3_cols = {
    'cf3marm': "Is father married to child's mother at year three?",
    'cf3kids': "Number of children under 18 in household",
    'cf3md_case_lib': "Father meets depression criteria (liberal) at three-year (CIDI)",
    'cf3hhinc': "Household income (with imputed values)",
    'f3c3c': "Days/week: father tell child she loves him/her?",
    'm3c3c': "Days/week: mother tell child she loves him/her?"
}

wave4_cols = {
    'cf4cohm': "Constructed - Father living with child's mother at five-year",
    't4d7': "number of kids present with child",
    'p4l63': "Child is interested in many and different things",
    'p4l59':  "Child threatens people",
    'p4d1c':  "Last 12M, couldn't afford to eat balanced meals",
    'm4d1b': "You can trust father to take good care of child",
    'f4b8d': "Does person/agency give money/voucher/scholarship to help pay for program?"
}

wave5_cols = {
    'k5d1f': "Amount of time on a weekday you play computer games on the computer or TV",
    'k5d1g': "Amount of time on a weekday you watch TV and movies",
    'k5h1': "Condition of health in general",
    'k5d1e': "Amount of time on a weekday you chat with friends on the computer",
    'k5f1f': "Hurt an animal on purpose"
}

wave6_cols = {
    'p6b1': "PCG's description of youth's health",
    'p6k3a': "Highest school attended or degree received",
    'p6k43': "Sold drugs, prostitution, or hustled in past year",
    'p6k3b': "Highest grade of school completed",
    'k6b5b': "Kids in this school work hard (?)"
}

In [24]:
df_wave1 = load_and_select_columns(df_wave_1, wave1_cols)
df_wave2 = load_and_select_columns(df_wave_2, wave2_cols)
df_wave3 = load_and_select_columns(df_wave_3, wave3_cols)
df_wave4 = load_and_select_columns(df_wave_4, wave4_cols)
df_wave5 = load_and_select_columns(df_wave_5, wave5_cols)
df_wave6 = load_and_select_columns(df_wave_6, wave6_cols)

dataframes = [df_wave1, df_wave2, df_wave3, df_wave4, df_wave5, df_wave6]
df_merged = reduce(lambda left, right: 
                   pd.merge(left, right, on='idnum', how='inner'), dataframes)

df_merged = df_merged.astype(str)
df_merged.to_stata('../data/ff_selected_cols.dta')

In [25]:
df_merged.head()

,idnum,cf1edu,cm1edu,cf1hhinc,f1j8,m1i2b,f2b13,f2b32,f2d1a,m2d2,...,k5d1f,k5d1g,k5h1,k5d1e,k5f1f,p6b1,p6k3a,p6k43,p6k3b,k6b5b
0,0001,"3 some coll, tech","3 some coll, tech",22500.0,32000.0,10.0,-6 Skip,-6 Skip,-5 Not asked,1 Yes,...,0 none,4 more than 2 hours,"1 Excellent,",0 none,2 No,2 Very good,-6 Skip,2 No,-6 Skip,1 Strongly agree
1,0002,1 less hs,1 less hs,-9 Not in wave,-9 Not in wave,260.0,-6 Skip,1 Excell,2 No,1 Yes,...,3 1-2 hours,4 more than 2 hours,"1 Excellent,",3 1-2 hours,2 No,3 Good,-6 Skip,2 No,-6 Skip,1 Strongly agree
2,0003,"3 some coll, tech","3 some coll, tech",62500.0,20000.0,6.0,-6 Skip,2 V Good,2 No,1 Yes,...,-9 Not in wave,-9 Not in wave,-9 Not in wave,-9 Not in wave,-9 Not in wave,2 Very good,-6 Skip,2 No,-6 Skip,2 Somewhat agree
3,0004,2 hs or equiv,2 hs or equiv,30000.0,1800.0,400.0,-6 Skip,1 Excell,1 Yes,1 Yes,...,1 half an hour or less,3 1-2 hours,"2 Very good,",1 half an hour or less,2 No,3 Good,-6 Skip,2 No,-6 Skip,2 Somewhat agree
4,0005,-3 Missing,2 hs or equiv,-9 Not in wave,-9 Not in wave,8.0,-9 Not in wave,-9 Not in wave,-9 Not in wave,-9 Not in wave,...,2 more than half an hour but less than an hour,2 more than half an hour but less than an hour,"3 Good,",0 none,2 No,1 Excellent,-6 Skip,2 No,-6 Skip,-9 Not in wave

In [27]:
for col in df_merged:
    print(f'Column:', df_merged[col].value_counts(), '\n')

Column: idnum
0001    1
3263    1
3270    1
3269    1
3268    1
       ..
1633    1
1632    1
1631    1
1630    1
4898    1
Name: count, Length: 4898, dtype: int64

Column: cf1edu
1 less hs            1616
2 hs or equiv        1581
3 some coll, tech    1021
4 coll or grad        479
-3 Missing            201
Name: count, dtype: int64

Column: cm1edu
1 less hs            1699
2 hs or equiv        1480
3 some coll, tech    1189
4 coll or grad        524
-3 Missing              5
-9 Not in wave          1
Name: count, dtype: int64

Column: cf1hhinc
-9 Not in wave    1068
42500.0            476
62500.0            435
30000.0            429
22500.0            332
                  ...
16281.0              1
24301.0              1
86938.0              1
37073.0              1
4681.0               1
Name: count, Length: 579, dtype: int64

Column: f1j8
-9 Not in wave        1068
8.0                    137
7.0                    126
10.0                   123
-3 Missing             112
                      ...
9.65999984741211         1
10.289999961853027       1
5.829999923706055        1
37.5                     1
9.270000457763672        1
Name: count, Length: 579, dtype: int64

Column: m1i2b
-6 Skip               407
6.0                   293
7.0                   198
8.0                   153
6.5                   122
                     ...
14.239999771118164      1
970.0                   1
9.180000305175781       1
23500.0                 1
11.020000457763672      1
Name: count, Length: 701, dtype: int64

Column: f2b13
-6 Skip           3237
-9 Not in wave    1519
1 Yes              136
-2 Don't know        4
2 No                 2
Name: count, dtype: int64

Column: f2b32
1 Excell          1927
-9 Not in wave    1519
2 V Good           580
-6 Skip            462
3 Good             228
-5 Not asked       108
4 Fair              51
-2 Don't know       16
5 Poor               7
Name: count, dtype: int64

Column: f2d1a
1 Yes             2708
-9 Not in wave    1519
-5 Not asked       440
2 No               192
-6 Skip             39
Name: count, dtype: int64

Column: m2d2
1 Yes             3995
-9 Not in wave     534
-6 Skip            250
2 No               119
Name: count, dtype: int64

Column: m2b43a
-6 Skip           4334
-9 Not in wave     534
1 Not at all        11
-5 Not asked         7
5 Very much          4
3 Somewhat           2
-2 Don't know        2
4 A lot              2
2 A little           1
-1 Refuse            1
Name: count, dtype: int64

Column: m2b10
-6 Skip           3690
-9 Not in wave     534
1                  469
2                  105
3                   50
4                   16
6                    9
5                    7
20                   5
7                    3
10                   3
-2 Don't know        3
12                   1
8                    1
15                   1
11                   1
Name: count, dtype: int64

Column: cf3marm
0 No              2011
-9 Not in wave    1599
1 Yes             1284
-3 Missing           4
Name: count, dtype: int64

Column: cf3kids
-9 Not in wave    1599
0                  909
2                  836
1                  696
3                  424
4                  162
-7 N/A             158
5                   68
6                   24
7                   15
8                    5
9                    1
10                   1
Name: count, dtype: int64

Column: cf3md_case_lib
0 No              2821
-9 Not in wave    1599
1 Yes              470
-3 Missing           8
Name: count, dtype: int64

Column: cf3hhinc
-9 Not in wave    1599
30000.0            133
50000.0            120
40000.0            113
60000.0            105
                  ...
36198.0              1
130488.0             1
13185.0              1
51646.0              1
8451.0               1
Name: count, Length: 1043, dtype: int64

Column: f3c3c
7 7/week          1996
-9 Not in wave    1599
-6 Skip            755
-5 Not asked       320
5 5/week            54
-2 Don't know       51
4 4/week            36
3 3/week            28
6 6/week            26
2 2/week            13
1 1/week             9
0 None               9
-3 Missing           2
Name: count, dtype: int64

Column: m3c3c
7 7/week          2422
-6 Skip           1021
-9 Not in wave     667
5 5/week           135
2 2/week           124
3 3/week           121
-2 Don't know      116
1 1/week           106
0 None              87
4 4/week            76
6 6/week            23
Name: count, dtype: int64

Column: cf4cohm
0 No              2582
-9 Not in wave    1739
1 Yes              577
Name: count, dtype: int64

Column: t4d7
-9 Not in wave    3859
20                 161
22                 110
18                  89
21                  87
19                  75
23                  70
24                  60
17                  49
25                  46
15                  46
16                  45
26                  28
28                  23
13                  21
27                  19
30                  16
14                  14
12                  14
10                  11
11                   9
29                   7
32                   7
7                    5
9                    4
6                    3
31                   3
8                    3
-1 Refuse            2
2                    2
3                    2
34                   2
51                   1
38                   1
35                   1
1                    1
33                   1
40                   1
Name: count, dtype: int64

Column: p4l63
2 Very true or often true       2372
-9 Not in wave                  1917
1 Somewhat or sometimes true     532
0 Not true                        68
-3 Missing                         7
-1 Refuse                          1
-7 N/A                             1
Name: count, dtype: int64

Column: p4l59
0 Not true                      2709
-9 Not in wave                  1917
1 Somewhat or sometimes true     231
2 Very true or often true         35
-2 Don't know                      2
-3 Missing                         2
-1 Refuse                          1
-7 N/A                             1
Name: count, dtype: int64

Column: p4d1c
3 Never true        2686
-9 Not in wave      1917
2 Sometimes true     244
1 Often true          36
-3 Missing            15
Name: count, dtype: int64

Column: m4d1b
1 Always          2766
-9 Not in wave     759
-6 Skip            628
2 Sometimes        458
4 Never            158
3 Rarely           104
-2 Don't know       23
-1 Refuse            2
Name: count, dtype: int64

Column: f4b8d
-9 Not in wave    1739
-6 Skip           1485
2 No              1215
-10 No Charge      234
1 Yes              120
-3 Missing          89
-2 Don't know       16
Name: count, dtype: int64

Column: k5d1f
-9 Not in wave                                    1498
0 none                                             966
1 half an hour or less                             891
3 1-2 hours                                        530
2 more than half an hour but less than an hour     484
4 more than 2 hours                                459
-3 Missing                                          31
-2 Don't know                                       24
-1 Refuse                                           15
Name: count, dtype: int64

Column: k5d1g
-9 Not in wave                                    1498
4 more than 2 hours                               1050
3 1-2 hours                                        998
1 half an hour or less                             586
2 more than half an hour but less than an hour     512
0 none                                             182
-3 Missing                                          31
-2 Don't know                                       29
-1 Refuse                                           12
Name: count, dtype: int64

Column: k5h1
-9 Not in wave    1498
1 Excellent,      1449
2 Very good,       951
3 Good,            718
4 Fair, or         140
-2 Don't know       46
5 Poor?             44
-3 Missing          32
-1 Refuse           20
Name: count, dtype: int64

Column: k5d1e
0 none                                            2758
-9 Not in wave                                    1498
1 half an hour or less                             277
3 1-2 hours                                        124
2 more than half an hour but less than an hour      90
4 more than 2 hours                                 85
-3 Missing                                          31
-2 Don't know                                       19
-1 Refuse                                           16
Name: count, dtype: int64

Column: k5f1f
2 No              3180
-9 Not in wave    1498
1 Yes              158
-3 Missing          32
-2 Don't know       16
-1 Refuse           14
Name: count, dtype: int64

Column: p6b1
1 Excellent       1853
-9 Not in wave    1318
2 Very good       1115
3 Good             477
4 Fair             121
5 Poor              14
Name: count, dtype: int64

Column: p6k3a
-6 Skip                                     3397
-9 Not in wave                              1318
4 High school diploma                         56
11 Some college                               33
3 Some regular high school                    26
10 Junior/community college (2-year)          15
12 College (4-year) degree                    10
2 Elementary, middle, or junior high sch       9
5 GED                                          8
13 Graduate or professional school             8
-3 Missing                                     6
7 Nursing school (LPN or RN)                   5
9 Vocational, technical, or trade school       3
1 None                                         3
14 Other type of school                        1
Name: count, dtype: int64

Column: p6k43
2 No              3554
-9 Not in wave    1318
1 Yes               16
-3 Missing           6
-1 Refuse            3
-2 Don't know        1
Name: count, dtype: int64

Column: p6k3b
-6 Skip           3539
-9 Not in wave    1318
10                  11
11                  11
-3 Missing           6
9                    4
6                    3
8                    3
2                    2
12                   1
Name: count, dtype: int64

Column: k6b5b
2 Somewhat agree       1879
-9 Not in wave         1454
1 Strongly agree        813
3 Somewhat disagree     513
4 Strongly disagree     171
-6 Skip                  65
-2 Don't know             2
-3 Missing                1
Name: count, dtype: int64