In [17]:
import pandas as pd
import numpy as np
from functools import reduce

import warnings
warnings.filterwarnings('ignore')

# Select Columns and Combine Data

In [18]:
df_wave_1 = pd.read_stata('../data/FF_wave1_2020v2.dta')
df_wave_2 = pd.read_stata('../data/FF_wave2_2020v2.dta')
df_wave_3 = pd.read_stata('../data/FF_wave3_2020v2.dta')
df_wave_4 = pd.read_stata('../data/FF_wave4_2020v2.dta')
df_wave_5 = pd.read_stata('../data/FF_wave5_2020v2.dta')
df_wave_6 = pd.read_stata('../data/FF_wave6_2020v2.dta')

In [19]:
def load_and_select_columns(dataset, cols_dict):
    selected_columns = ['idnum'] + list(cols_dict.keys())
    df_selected = dataset[selected_columns]
    return df_selected

wave1_cols = {
    'cf1edu': "Father baseline education (father report, then mother report)",
    'cm1edu': "Mother baseline education (own report)",
    'cf1hhinc': "Household income (with imputed values)",
    'f1j8': "About how much did you earn?",
    'm1i2b': "About how much did you earn?"
}

wave2_cols = {
    'f2b13': "Does child walk or crawl yet?",
    'f2b32': "In general, how is your child's health?",
    'f2d1a': "Does mother have any contact with child?",
    'm2d2': "Does father have any contact with child?",
    'm2b43a': "On a scale of 1-(least like) to 5-(most like) - Child tends to be shy",
    'm2b10': "Since child was born, how many times has he/she stayed overnight in hospital?"
}

wave3_cols = {
    'cf3marm': "Is father married to child's mother at year three?",
    'cf3kids': "Number of children under 18 in household",
    'cf3md_case_lib': "Father meets depression criteria (liberal) at three-year (CIDI)",
    'cf3hhinc': "Household income (with imputed values)",
    'f3c3c': "Days/week: father tell child she loves him/her?",
    'm3c3c': "Days/week: mother tell child she loves him/her?"
}

wave4_cols = {
    'cf4cohm': "Constructed - Father living with child's mother at five-year",
    't4d7': "number of kids present with child",
    'p4l63': "Child is interested in many and different things",
    'p4l59':  "Child threatens people",
    'p4d1c':  "Last 12M, couldn't afford to eat balanced meals",
    'm4d1b': "You can trust father to take good care of child",
    'f4b8d': "Does person/agency give money/voucher/scholarship to help pay for program?"
}

wave5_cols = {
    'k5d1f': "Amount of time on a weekday you play computer games on the computer or TV",
    'k5d1g': "Amount of time on a weekday you watch TV and movies",
    'k5h1': "Condition of health in general",
    'k5d1e': "Amount of time on a weekday you chat with friends on the computer",
    'k5f1f': "Hurt an animal on purpose"
}

wave6_cols = {
    'p6b1': "PCG's description of youth's health",
    'k6b5b': "Kids in this school work hard (?)",
    'k6b20a': "Grade in English or language arts",
    'k6b20b': "Grade in Math",
    'k6b20c': "Grade in History or social studies",
    'k6b20d': "Grade in Science",
    # 'k6b21c': "Trouble getting your homework done",
    'k6b21d': "Trouble getting along with other students",
    'k6b22a': "Spend time on athletic or sports teams",
    'k6b22b': "Spend time on group performance activities",
    # 'k6d4': "Days absent from school due to health in past year"
}

In [20]:
df_wave1 = load_and_select_columns(df_wave_1, wave1_cols)
df_wave2 = load_and_select_columns(df_wave_2, wave2_cols)
df_wave3 = load_and_select_columns(df_wave_3, wave3_cols)
df_wave4 = load_and_select_columns(df_wave_4, wave4_cols)
df_wave5 = load_and_select_columns(df_wave_5, wave5_cols)
df_wave6 = load_and_select_columns(df_wave_6, wave6_cols)

dataframes = [df_wave1, df_wave2, df_wave3, df_wave4, df_wave5, df_wave6]
df_merged = reduce(lambda left, right: 
                   pd.merge(left, right, on='idnum', how='inner'), dataframes)

df_merged = df_merged.astype(str)
df_merged.to_stata('../data/ff_selected_cols.dta')

# Construct Y variable

In [21]:
df_merged = pd.read_stata('../data/ff_selected_cols.dta')
df_merged.head()

,index,idnum,cf1edu,cm1edu,cf1hhinc,f1j8,m1i2b,f2b13,f2b32,f2d1a,...,k5f1f,p6b1,k6b5b,k6b20a,k6b20b,k6b20c,k6b20d,k6b21d,k6b22a,k6b22b
0,0,0001,"3 some coll, tech","3 some coll, tech",22500.0,32000.0,10.0,-6 Skip,-6 Skip,-5 Not asked,...,2 No,2 Very good,1 Strongly agree,2 B,2 B,3 C,2 B,2 Sometimes,3 Once a week,4 Several times a week
1,1,0002,1 less hs,1 less hs,-9 Not in wave,-9 Not in wave,260.0,-6 Skip,1 Excell,2 No,...,2 No,3 Good,1 Strongly agree,3 C,1 A,3 C,3 C,1 Never,4 Several times a week,2 At least once a month
2,2,0003,"3 some coll, tech","3 some coll, tech",62500.0,20000.0,6.0,-6 Skip,2 V Good,2 No,...,-9 Not in wave,2 Very good,2 Somewhat agree,2 B,2 B,1 A,3 C,2 Sometimes,0 Never,0 Never
3,3,0004,2 hs or equiv,2 hs or equiv,30000.0,1800.0,400.0,-6 Skip,1 Excell,1 Yes,...,2 No,3 Good,2 Somewhat agree,1 A,1 A,1 A,1 A,2 Sometimes,0 Never,4 Several times a week
4,4,0005,-3 Missing,2 hs or equiv,-9 Not in wave,-9 Not in wave,8.0,-9 Not in wave,-9 Not in wave,-9 Not in wave,...,2 No,1 Excellent,-9 Not in wave,-9 Not in wave,-9 Not in wave,-9 Not in wave,-9 Not in wave,-9 Not in wave,-9 Not in wave,-9 Not in wave

In [22]:
for col in wave6_cols.keys():
    print(f'Column:', df_merged[col].value_counts(), '\n')

Column: p6b1
1 Excellent       1853
-9 Not in wave    1318
2 Very good       1115
3 Good             477
4 Fair             121
5 Poor              14
Name: count, dtype: int64

Column: k6b5b
2 Somewhat agree       1879
-9 Not in wave         1454
1 Strongly agree        813
3 Somewhat disagree     513
4 Strongly disagree     171
-6 Skip                  65
-2 Don't know             2
-3 Missing                1
Name: count, dtype: int64

Column: k6b20a
-9 Not in wave             1454
2 B                        1439
1 A                         897
3 C                         710
4 D or lower                214
-2 Don't know                99
5 No grade or pass/fail      44
7 N/A Homeschooled           38
-1 Refuse                     2
-3 Missing                    1
Name: count, dtype: int64

Column: k6b20b
-9 Not in wave             1454
2 B                        1231
3 C                         845
1 A                         809
4 D or lower                371
5 No grade or pass/fail      82
-2 Don't know                64
-3 Missing                   38
7 N/A Homeschooled            3
-1 Refuse                     1
Name: count, dtype: int64

Column: k6b20c
-9 Not in wave             1454
2 B                        1152
1 A                         971
3 C                         693
4 D or lower                223
5 No grade or pass/fail     218
-2 Don't know               127
-3 Missing                   38
7 N/A Homeschooled           16
-1 Refuse                     6
Name: count, dtype: int64

Column: k6b20d
-9 Not in wave             1454
2 B                        1238
1 A                         893
3 C                         795
4 D or lower                271
5 No grade or pass/fail     110
-2 Don't know                78
-3 Missing                   48
7 N/A Homeschooled            7
-1 Refuse                     4
Name: count, dtype: int64

Column: k6b21d
1 Never               1584
-9 Not in wave        1454
2 Sometimes           1197
3 Often                577
-6 Skip                 79
7 N/A Homeschooled       2
-3 Missing               2
-1 Refuse                2
-2 Don't know            1
Name: count, dtype: int64

Column: k6b22a
-9 Not in wave              1454
4 Several times a week      1401
0 Never                     1097
3 Once a week                416
2 At least once a month      371
1 Less than once a month     149
-2 Don't know                  7
-3 Missing                     2
-1 Refuse                      1
Name: count, dtype: int64

Column: k6b22b
0 Never                     2034
-9 Not in wave              1454
4 Several times a week       692
3 Once a week                297
2 At least once a month      277
1 Less than once a month     138
-2 Don't know                  4
-3 Missing                     2
Name: count, dtype: int64

## Construct Y Variable

In [30]:
def construct_y(data):
    # convert y candidate values
    # Health
    data['y_good_health'] = data['p6b1'].str.extract(r'^(-?\d+)')
    data['y_good_health'] = np.where(pd.to_numeric(data['y_good_health'], 
                                                   errors='coerce')<=2, 1, 0)
    
    # Attitude
    data['y_work_hard'] = data['k6b5b'].str.extract(r'^(-?\d+)')
    data['y_work_hard'] = np.where(pd.to_numeric(data['y_work_hard'],
                                                 errors='coerce')<=2, 1, 0)
    # Academic
    for col in ['k6b20a', 'k6b20b', 'k6b20c', 'k6b20d']:
        data[col] = data[col].str.extract(r'^(-?\d+)')
        data[col] = pd.to_numeric(data[col], errors='coerce')
        data[col] = np.where(data[col]<=1, 4,
                             np.where(data[col]<=2, 3, np.where(data[col]<=3, 2, 0)))
    data['y_gpa_good'] = data[['k6b20a', 'k6b20b', 'k6b20c', 'k6b20d']].mean(axis=1)
    data['y_gpa_good'] = np.where(data['y_gpa_good']>=3.6, 1, 0)
    
    # Social
    data['y_social_good'] = data['k6b21d'].str.extract(r'^(-?\d+)')
    data['y_social_good'] = np.where(pd.to_numeric(data['y_social_good'], errors='coerce')<=1, 1, 0)
    
    # Group Performance
    data['y_art'] = data['k6b22b'].str.extract(r'^(-?\d+)')
    data['y_art'] = np.where(pd.to_numeric(data['y_art'], errors='coerce')>=3, 1, 0)
    
    # Athelete
    data['y_sport'] = data['k6b22a'].str.extract(r'^(-?\d+)')
    data['y_sport'] = np.where(pd.to_numeric(data['y_sport'], errors='coerce')>=3, 1, 0)
    
    
    data['y_score'] = data[['y_good_health', 'y_work_hard', 'y_gpa_good',
                            'y_social_good', 'y_art', 'y_sport']].sum(axis=1)
    
    data['y_binary'] = np.where(data['y_score']>=4, 1, 0)
    return data

In [31]:
df = df_merged.copy()

# Replace with NaN
negative_value_pattern = r'^-\d+.*$'
for col in wave6_cols.keys():
    df[col] = df[col].replace(negative_value_pattern, np.nan, regex=True)
 
# Calculate missing rate, remove roles
num_missing_per_row = df[wave6_cols.keys()].isnull().sum(axis=1)
missing_rate_per_row = num_missing_per_row / len(wave6_cols.keys())

df['y_missing_rate'] = missing_rate_per_row
# print(df['y_missing_rate'].value_counts())
df_filtered = df[df.y_missing_rate <= 0.1]

X_cols = list(wave1_cols.keys())+ list(wave2_cols.keys()) + list(wave3_cols.keys()) +\
         list(wave4_cols.keys()) + list(wave5_cols.keys())
Y_cols = ['y_missing_rate', 'y_score', 'y_binary']
data_processed = construct_y(df_filtered)
data_processed = data_processed[X_cols + Y_cols]
data_processed.to_stata('../data/ff_data_preprocessed.dta')

In [32]:
# wave6_cols.keys()
# 
# col = 'k6b21d'
# print(wave6_cols[col])
# df[col].value_counts()

In [33]:
x_processed = data_processed.copy()

for col in X_cols:
        x_processed[col] = x_processed[col].str.extract(r'^(-?\d+)')
        x_processed[col] = pd.to_numeric(x_processed[col], errors='coerce')
        
x_processed.to_stata('../data/ff_data_x_preprocessed.dta')

In [34]:
x_processed.y_score.value_counts()

y_score
3    989
4    777
2    733
5    306
1    235
6     42
0     31
Name: count, dtype: int64

# Selected X variable of interest

In [35]:
X_selected = ['cf1edu', 'cm1edu', 'f2b32', 'm2d2', 'm2b43a', 'cf3marm', 'cf3kids',
              'cf3md_case_lib', 'cf4cohm', 't4d7', 'cf1hhinc', 'k5d1f', 'k5f1f']
Y_selected = ['y_binary']

df_selected = data_processed[X_selected+Y_selected]
df_selected.to_stata('../data/ff_data_preprocessed_v1.dta')

df_selected_x_processed = x_processed[X_selected+Y_selected]
df_selected_x_processed.to_stata('../data/ff_data_x_preprocessed_v1.dta')